<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AutoTest" verbose="1">
    <test name="JsonTest">
        <classes>
            <class name="com.zombie.test.FastJsonUtilTest">
            </class>
            <class name="com.zombie.test.CommonUtilsTest"/>
            <class name="com.zombie.test.RandomUtilsTest"/>
        </classes>
    </test>
</suite>